<%if items.blank?%>
  <p><%=I18n.t("no_cats")%></p>
<% else %>
<ul class="media-list">
  <% items.each do |item|
    url = "#{cats_path}/#{ parent == true ? item.parent_id : item.id }"
  %>
      <li class="media">
        <%= link_to(url, :remote => true, class:"pull-left") do %>
            <%= image_tag( (item.try(:image).try(:image_url).blank?) ? "#{root_url}assets/missing.png" : item.image.image_url, :class => "media-object list-icon img-circle") %>
        <% end %>
        </a>
        <div class="media-body">
            <h4 class="media-heading"><%= link_to item.name, url %> <span class="badge"><%= (@shops.blank? ) ? 0 : @shops.count %></span></h4>

        </div>
      </li>
  <% end %>
    </ul>
<% end %>


