<!--<h2><%= t("title")%></h2>-->

<%#= controller.controller_name %>
<%#= controller.action_name %>
<!--#to get id information:-->
<!--<%#= ActionController::Routing::Routes.recognize_path(request.url)[:id] %>-->
<%
  if items.blank? %>
    <p><%= t("no_shops")%></p>
<% else %>
    <%= will_paginate items %>

    <!--<ul class="nav nav-pills nav-stacked list-icon">-->
    <ul class="media-list">
        <% items.each do |item|
          url = "#{shops_path}/#{item.id}/#{params[:search]}?page=#{params[:page]}"
          #url = (controller.action_name == "shops") ? "#{shops_path}/#{item.id}?query=#{ (params[:query].blank?) ? params[:squery] : params[:query]}&page=#{ (params[:page].blank?) ? "1" : params[:page]}"
          # : "#{controller.action_name}?shop_id=#{item.id}"
        %>
          <div class="media">
            <%#= link_to url, class: "pull-left", 'data-no-turbolink' => true do %>
            <%= link_to url, class: "pull-left" do %>
                <%= image = (!item.try(:images).try(:first).try(:image_url).blank?) ? image_tag( (item.try(:images).try(:first).try(:image).try(:image_url)), :class => "media-object img-circle list-icon") : image_tag( 'missing.png', :class => "media-object img-circle list-icon" ) %>

          <% end %>
            <!--<a class="pull-left" href="<%#=url%>">-->
              <%#= image_tag( (item.try(:images).try(:first).try(:image_url).blank?) ? "#{root_url}assets/missing.png" : item.images.first.image_url, :class => "media-object img-circle list-icon") %>
              <%#= image = (!item.try(:images).try(:first).try(:image_url).blank?) ? image_tag( (item.try(:images).try(:first).try(:image).try(:image_url)), :class => "media-object img-circle list-icon") : image_tag( 'missing.png', :class => "media-object img-circle list-icon" ) %>
            <!--</a>-->
            <div class="media-body">
              <h4 class="media-heading">
                <%#= link_to url, 'data-no-turbolink' => true do %>
                <%= link_to url do %>
                    <%=image_tag( 'star_active.png', :class => "img-circle" ) if item.try(:rated) > 0 %>
                    <%= item.name %>
                <% end %>
              </h4>
              <p><%= item.address %></p>
              <p><%= item.www %></p>
            </div>
          </div>
        <% end %>
    </ul>
    <%= will_paginate items %>
<% end
%>


