<style>
    .map_container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
    }
    .map_container .map_canvas{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: #CCC;
    }
    #panel {
        position: absolute;
        top: 100%;
        /*left: 50%;*/
        /*margin-left: -180px;*/
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
    }
</style>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?language=ru">
</script>
<script>
var ready;
var geocoder;
var map;

ready = function() {
    google.maps.event.addDomListener(window, 'load', initialize);
};
$(document).ready(ready);
$(document).on('page:load', ready);
//$(document).on('page:change', ready);


function initialize() {
    var destination = new google.maps.LatLng(43.0167, 44.6500)
    var map_canvas = document.getElementById('map_canvas');
    var map_options = {
        center: destination,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(map_canvas, map_options)
    geocoder = new google.maps.Geocoder();

    codeAddressTo();
    calcRoute();
}

function codeAddressTo() {
//        var element = document.getElementById("address").firstChild;
//        address = element.textContent || element.innerText || "";

//        var address = $("#addressTo").attr('value');
//        console.log("to: "+address);

    var addresses = $(".addressTo").map(function(){
        return $(this).attr("value");
    }).get();

    for (var i in addresses) {
        var address = addresses[i];
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                //                alert("Geocode was not successful for the following reason: " + status);
//                alert("Организация не найдена. Ошибка: " + status);
            }
        });
    }
}

function calcRoute() {

    var directionsService = new google.maps.DirectionsService();

//        var start = document.getElementById('start').value;
//        var end = document.getElementById('end').value;

    var addresses = $(".addressTo").map(function(){
        return $(this).attr("value");
    }).get();
    var addressFrom = $("#addressFrom").val();
//    var addressTo = $("#addressTo").attr('value');

    for (var i in addresses) {
        var addressTo = addresses[i];
        var request = {
            origin:addressFrom,
            destination:addressTo,
            travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
//                console.log("route:"+addressTo);
                renderDirections(response);
            }
        });
    }
}

function renderDirections(result) {
    var directionsRenderer = new google.maps.DirectionsRenderer();
    directionsRenderer.setMap(map);
    directionsRenderer.setDirections(result);
}

//function loadScript() {
//    var script = document.createElement('script');
//    script.type = 'text/javascript';
//    script.src = 'https://maps.googleapis.com/maps/api/js?' +
//            'callback=initialize';
//    document.body.appendChild(script);
//}
//window.onload = loadScript;

</script>

<% if (@shop) %>
    <header><h2><%= @shop.name %></h2></header>
    <% if (!@shop.try(:images).try(:first).try(:image_url).blank?) %>
    <p>
      <%= (!@shop.try(:images).try(:first).try(:image_url).blank?) ? image_tag( (@shop.try(:images).try(:first).try(:image).try(:image_url)), :class => "img-circle", :width => "100%") : image_tag( 'missing.png', :class => "img-circle", :width => "100%" ) %>
    </p>
    <% end %>
    <p>
      <% @shop.try(:images).each do |image| %>
          <%#= image_tag (image.try(:image_url)) if (image != nil )  %>
      <% end %>
    </p>

    <% if (!@shop.try(:description).blank?) %>
    <div class="media">
      <a class="pull-left" href="#">
        <% url = @shop.try(:images).try(:first).try(:image_url)
           url = (!url.blank?) ? url : "missing.png"
        %>
        <%=image_tag(url, class:"media-object list-icon") %>
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%=@shop.try(:description) || t("contacts.empty") %></h4>
        <%=t('contacts.description') %>
      </div>
    </div>
    <% end %>

    <% if (!@shop.try(:address) .blank?) %>
      <div class="media">
        <a class="pull-left" href="#">
          <%=image_tag "contacts/contacts_map.png", class:"media-object list-icon"%>
        </a>
        <div class="media-body">
          <h4 class="addressTo" value="<%=@shop.try(:address)%>" class="media-heading">
            <%=@shop.try(:address) || t("contacts.empty") %></h4>
          <%=t("contacts.address") %>

        </div>
      </div>
    <% end %>


    <% if (!@shop.try(:time_work) .blank?) %>
      <div class="media">
        <a class="pull-left" href="#">
          <%=image_tag "contacts/contacts_time_work2.png", class:"media-object list-icon"%>
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%=@shop.try(:time_work) || t("contacts.empty") %></h4>
          <%=t('contacts.time_work') %>
        </div>
      </div>
    <% end %>

    <% if (!@shop.try(:email) .blank?) %>
      <div class="media">
        <a class="pull-left" href="#">
          <%=image_tag "contacts/contacts_mail.png", class:"media-object list-icon"%>
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%=@shop.try(:email) || t("contacts.empty") %></h4>
          <%=t('contacts.email') %>
        </div>
      </div>
    <% end %>

    <% if (!@shop.try(:www) .blank?) %>
      <div class="media">
        <a class="pull-left" href="#">
          <%=image_tag "contacts/contacts_www.png", class:"media-object list-icon"%>
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%=@shop.try(:www) || t("contacts.empty") %></h4>
          <%=t('contacts.www') %>
        </div>
      </div>
    <% end %>

    <% @shop.try(:contact_items).each do |contact|%>

    <%= render(:partial=> 'home/contact_items', locals: { contact: contact }) || t('contacts.empty') %>
    <% end %>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="input-group">
          <span class="input-group-addon"><%=t("default_address.your_pos")%></span>
          <% addressFrom = "#{t("default_address.home")}, #{t("default_address.street")}, #{t("default_address.city")}" %>
          <%= text_field_tag( :title, addressFrom, id:"addressFrom", class:"form-control") %>
          <span class="input-group-btn">
            <%= tag "input", { "type" => "button", "value" => t("calculate"), "onclick" => "initialize();return true;", class:"btn btn-default" } %>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <div class="map_container">
      <!--<div id="panel">-->
            <%#= button_tag t("calculate", type:"button", :class => "subBtn", onclick:"calcRoute()" ) %>
        <!--<b>Start: </b>-->
        <!--<select id="start" onchange="calcRoute();">-->
          <!--<option value="chicago, il">Chicago</option>-->
          <!--<option value="st louis, mo">St Louis</option>-->
          <!--<option value="joplin, mo">Joplin, MO</option>-->
          <!--<option value="oklahoma city, ok">Oklahoma City</option>-->
          <!--<option value="amarillo, tx">Amarillo</option>-->
          <!--<option value="gallup, nm">Gallup, NM</option>-->
          <!--<option value="flagstaff, az">Flagstaff, AZ</option>-->
          <!--<option value="winona, az">Winona</option>-->
          <!--<option value="kingman, az">Kingman</option>-->
          <!--<option value="barstow, ca">Barstow</option>-->
          <!--<option value="san bernardino, ca">San Bernardino</option>-->
          <!--<option value="los angeles, ca">Los Angeles</option>-->
        <!--</select>-->
        <!--<b>End: </b>-->
        <!--<select id="end" onchange="calcRoute();">-->
          <!--<option value="chicago, il">Chicago</option>-->
          <!--<option value="st louis, mo">St Louis</option>-->
          <!--<option value="joplin, mo">Joplin, MO</option>-->
          <!--<option value="oklahoma city, ok">Oklahoma City</option>-->
          <!--<option value="amarillo, tx">Amarillo</option>-->
          <!--<option value="gallup, nm">Gallup, NM</option>-->
          <!--<option value="flagstaff, az">Flagstaff, AZ</option>-->
          <!--<option value="winona, az">Winona</option>-->
          <!--<option value="kingman, az">Kingman</option>-->
          <!--<option value="barstow, ca">Barstow</option>-->
          <!--<option value="san bernardino, ca">San Bernardino</option>-->
          <!--<option value="los angeles, ca">Los Angeles</option>-->
        <!--</select>-->
      <!--</div>-->
      <div id="map_canvas" class="map_canvas"></div>
    </div>
<% else %>
    <p><%= t("no_shop_selected")%></p>
<% end %>