<%
isEmail = item.include?("@")
phone = ActiveSupport::NumberHelper.number_to_phone(item)
isPhone = (phone.to_i > 0)
isUrl = item.start_with?("www")
%>
<li class="media">
  <a class="pull-left" href="#">
    <%=image_tag("contacts/contacts_email.png", class:"media-object list-icon") if isEmail %>
    <%=image_tag("contacts/contacts_www.png", class:"media-object list-icon") if isUrl %>
    <%=image_tag("contacts/contacts_call.png", class:"media-object list-icon") if isPhone %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= item || t("contacts.empty") %></h4>
    <%=t('contacts.phone') if isPhone %><%=item%>
    <%=t('contacts.email') if isEmail %>
    <%=t('contacts.www') if isUrl %>
  </div>
</li>
