<%#= will_paginate @sub_items %>
<%if items.blank?%>
    <p><%=I18n.t("no_tcats")%></p>
<% else %>
    <ul class="media-list">
    <% items.where(parent_id:0).each do |item| %>
        <div class="media">
          <a class="pull-left" href="<%="#{tcats_path}/#{ item.id }"%>">
            <!--<img class="media-object" src="..." alt="...">-->
            <%#= image_tag( (item.try(:image).try(:image_url).blank?) ? "#{root_url}assets/missing.png" : item.image.image_url, :class => "media-object img-circle list-icon") %>
            <%= (!item.try(:image).try(:image_url).blank?) ? image_tag( (item.try(:image).try(:image_url)), :class => "media-object img-circle list-icon") : image_tag( 'missing.png', :class => "media-object img-circle list-icon" ) %>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= item.name %> <span class="badge"><%= (item.shops.blank? ) ? 0 : item.shops.count %></h4>
            <%
               items.where(parent_id:item.id).each do |sub_item|
            %>
                <%#= link_to sub_item.name,  "#{tcats_path}/#{ (parent) ? sub_item.id : sub_item.parent_id }" %>
                <%= link_to sub_item.name,  "#{tcats_path}/#{ sub_item.id }" %>
                <%#= link_to sub_item.name,  tcats_path( sub_item.id) %>
            <% end %>
          </div>
        </div>
    <% end %>
    </ul>
<% end %>

</ul>
