
<%= javascript_include_tag  "vertical_slider/jquery-1.3.2.js", "vertical_slider/jquery-migrate-1.2.1.min.js", "vertical_slider/ui.core.js", "vertical_slider/ui.carousel.js", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "home/bootstrap.min.css", "home/logo-nav.css",  "vertical_slider/vertical_slider.css", media: "all", "data-turbolinks-track" => true %>

<script type="text/javascript">
    $(function() {
        //You don't need this timeout in your pages - Safari has stupid issues with our demo system
        window.setTimeout(function() {
            $("#carousel").carousel({
                orientation: 'vertical',
                radius: 130
            });
        }, $.browser.safari ? 100 : 0);
    });
</script>

<div class="demo">
<!--<h1>carousel</h1>-->
  <ul id="carousel">
    <!--<li style="width: 100%"><img src="<%= asset_path 'vertical_slider/1.png' %>" alt=""></li>-->
    <!--<li style="width: 100%"><img src="<%= asset_path 'vertical_slider/2.png' %>" alt=""></li>-->
    <!--<li style="width: 100%"><img src="<%= asset_path 'vertical_slider/3.png' %>" alt=""></li>-->
    <!--<li style="width: 100%"><img src="<%= asset_path 'vertical_slider/4.png' %>" alt=""></li>-->
    <!--<li style="width: 100%"><img src="<%= asset_path 'vertical_slider/5.png' %>" alt=""></li>-->
    <% if (@banners.blank?) %>
    <p><%= t("your_adv_here") %></p>
    <% else
       @banners.each do |banner|
       url = (controller.action_name == "shops") ? "#{shops_path}/#{banner.shop_id}?query=#{ (params[:query].blank?) ? params[:squery] : params[:query]}&page=#{ (params[:page].blank?) ? "1" : params[:page]}"
       : "#{controller.action_name}?shop_id=#{banner.shop_id}"
    %>
        <li style="width: 100%">
            <a href="<%= url %>">
                <%= image_tag( (banner.try(:image).try(:image_url).blank?) ? "#{root_url}assets/missing.png" : banner.image.image_url, :class => "img-thumbnails") %>
            </a>
        </li>
    <%
       end
    end
    %>
  </ul>

</div><!-- End demo -->
