<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <%=@html%>
      <table>
      <% @items.each do |item| %>
        <tr>
          <td><%=item.name%></td><td> <%=item.address%></td><td> <%=item.www%></td><td> <%=item.email%></td><td> <%=item.time_work%></td><%#=item.try(:title) %>
        </tr>

      <% end %>
      </table>
    </div>
</div>