<!--xs (phones), sm (tablets), md (desktops), and lg (larger desktops)-->
<ul class="nav nav-pills">
  <%
     items = ['А','Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Ы', 'Э', 'Ю', 'Я',
              'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
     items.each do |item|%>
      <!--<li class="active"><a href="#"><%=item%></a></li>-->
      <!--<li><a href="#{search_shop_url}?query=#{item}"><%=item%></a></li>-->
      <li><a href='<%="#{shops_path}?query=#{item}"%>'><%=item%></a></li>

  <% end %>
</ul>

<div class="row">

    <div class="col-xs-4 col-md-4">
        <aside>
          <%#= render(:partial=> 'home/company', collection: @shops, as: :items, locals: {title: t('shops')}) || t('no_shops') %>
          <%= render(:partial=> 'home/company_list', locals: {items: @shops, title: t('shops')}) || t('no_shops') %>
        </aside>
    </div>

    <div class="col-xs-4 col-md-4">
        <section>
            <article>
              <%= render(:partial=> 'home/company_item', locals: {title: t('shops')}) || t('no_shops') %>
            </article>
        </section>
    </div>
    <div class="col-xs-4 col-md-4">
        <!--<h2>Баннеры/Реклама</h2>-->
        <%= render(:partial=> 'home/vertical_banner')%>
    </div>
</div>