<!--xs (phones), sm (tablets), md (desktops), and lg (larger desktops)-->
<div class="row">
<ul class="nav nav-pills">
  <%
     @alphabet.each do |item|%>
      <!--<li class="active"><a href="#"><%=item%></a></li>-->
      <!--<li><a href="#{search_shop_url}?query=#{item}"><%=item%></a></li>-->
      <li><a href='<%="#{shops_path}/-1/#{ item }?page=1"%>'><%=item%></a></li>

  <% end %>
</ul>


<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <aside>
          <%#= render(:partial=> 'home/company', collection: @shops, as: :items, locals: {title: t('shops')}) || t('no_shops') %>
          <%= render(:partial=> 'home/company_list', locals: {items: @shops, title: t('shops')}) || t('no_shops') %>
        </aside>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
        <section>
            <article>
              <%= render(:partial=> 'home/company_item', locals: {title: t('shops')}) || t('no_shops') %>
            </article>
        </section>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <!--<h2>Баннеры/Реклама</h2>-->
        <%= render(:partial=> 'home/vertical_banner')%>
    </div>
</div>
