<!DOCTYPE html>
<html>
<head>

  <title>Shopomob</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Shopomob">
  <meta name="keywords" content="Shopomob">
  <meta name="author" content="Dmitry Kosenko">

  <%= stylesheet_link_tag    "home/bootstrap.min.css", "home/logo-nav.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "home/jquery.min.js", "home/bootstrap.min.js", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<img class="navbar-brand" src="images/shopomob.png"/>-->

      <a class="navbar-brand" href="#">
        <img src="assets/home/shopomob.png"  alt=""/>
      </a>
      <a class="navbar-brand" href="#">
        ШопоМоб.Справочник <small>Владикавказ</small>
      </a>


    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Алфавитный указатель</a></li>
        <li class=""><a href="#">Рубрики</a></li>
        <li class=""><a href="#">Категории</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Услуги <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Реклама в справочнике</a></li>
            <li class="divider"></li>
            <li><a href="#">Аренда мобильных приложений (Android & iOS)</a></li>
            <li><a href="#">Аренда интернет-магазинов</a></li>
            <li class="divider"></li>
            <li><a href="#">СМС-рассылка</a></li>
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Заказная разработка (мобильных приложения и игры, интернет-магазины)</a></li>-->
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Поиск организаций ...">
        </div>
        <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-search"></span>&nbsp</button>

      </form>



      <!--<ul class="nav navbar-nav navbar-right">-->
      <!--&lt;!&ndash;<li><a href="#">Link</a></li>&ndash;&gt;-->
      <!--<li class="dropdown">-->
      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Услуги <span class="caret"></span></a>-->
      <!--<ul class="dropdown-menu" role="menu">-->
      <!--<li><a href="#">Реклама в справочнике</a></li>-->
      <!--<li class="divider"></li>-->
      <!--<li><a href="#">Аренда мобильных приложений (Android & iOS)</a></li>-->
      <!--<li><a href="#">Аренда интернет-магазинов</a></li>-->
      <!--<li class="divider"></li>-->
      <!--<li><a href="#">СМС-рассылка</a></li>-->
      <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href="#">Заказная разработка (мобильных приложения и игры, интернет-магазины)</a></li>&ndash;&gt;-->
      <!--</ul>-->
      <!--</li>-->
      <!--</ul>-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--<div id="top_header">-->
  <!--<div class="title">ШопоМоб/ShopoMob</div>-->
  <!--<div class="sub">Электронный справочник Владикавказа</div>-->
<!--</div>-->
<!--<div id="main_content">-->
    <%#= yield %>
<!--<div class="sponsored" style="font-size: 12px">-->
  <!--Adec LLC. All Rights Reserved <%=Date.today.year%>. ShopoMob Project.-->
<!--</div>-->
<!--</div>-->

<section>
  <%= yield %>
</section>
<footer class="panel-footer">ООО "Адек". Все права защищены. <%=Date.today.year%></footer>
</body>

</html>
