<!DOCTYPE html>
<html>
<head>

  <title><%=t('head.title')%></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%=t("head.meta.description")%>">
  <meta name="keywords" content="<%=t("head.meta.keywords")%>">
  <meta name="author" content="<%=t("head.meta.author")%>">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= favicon_link_tag 'favicon.ico' %>

  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">

<%= render :partial=>'home/nav' %>
<!--<div id="top_header">-->
  <!--<div class="title">ШопоМоб/ShopoMob</div>-->
  <!--<div class="sub">Электронный справочник Владикавказа</div>-->
<!--</div>-->
<!--<div id="main_content">-->
    <%#= yield %>
<!--<div class="sponsored" style="font-size: 12px">-->
  <!--Adec LLC. All Rights Reserved <%#=Date.today.year%>. ShopoMob Project.-->
<!--</div>-->
<!--</div>-->


<%#=render_navigation (level: 2) # ,expand_all: true, renderer: :bootstrap)%>
<%#= render_navigation level: 2, expand_all: true%>

<section>
  <%= yield %>
</section>
<footer class="panel-footer">
  <%=t("footer.title")%><%=Date.today.year%>
</footer>

</body>

</html>
