<!DOCTYPE html>
<html>
<head>

  <title><%=t('head.title')%></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%=t("head.meta.description")%>">
  <meta name="keywords" content="<%=t("head.meta.keywords")%>">
  <meta name="author" content="<%=t("head.meta.author")%>">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%#= stylesheet_link_tag    "application", media: "all" %>
  <%#= javascript_include_tag  "application" %>

  <%= favicon_link_tag 'favicon.ico' %>

  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">

<%= render :partial=>'home/nav' %>
<!--<div id="top_header">-->
  <!--<div class="title">ШопоМоб/ShopoMob</div>-->
  <!--<div class="sub">Электронный справочник Владикавказа</div>-->
<!--</div>-->
<!--<div id="main_content">-->
    <%#= yield %>
<!--<div class="sponsored" style="font-size: 12px">-->
  <!--Adec LLC. All Rights Reserved <%#=Date.today.year%>. ShopoMob Project.-->
<!--</div>-->
<!--</div>-->


<%#=render_navigation (level: 2) # ,expand_all: true, renderer: :bootstrap)%>
<%#= render_navigation level: 2, expand_all: true%>

<section>
  <%= yield %>
</section>
<footer class="panel-footer">
  <%=t("footer.title")%> <%=Date.today.year%>.
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53794940-1', 'auto');
      ga('send', 'pageview');
      console.log("ga send pageview ");


//      $(document).ready(ready);
//      $.getScript("You js file path",function(){
//          $(document).ready(ready);
//      });
  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?language=ru"></script>
</footer>

</body>

</html>
