<!DOCTYPE html>
<html>
<head>
  <title>Shopomob</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top_header">
  <div class="title">ШопоМоб/ShopoMob</div>
  <div class="sub">Электронный справочник Владикавказа</div>
</div>
<div id="main_content">
    <%= yield %>
<div class="sponsored" style="font-size: 12px">
  Adec LLC. All Rights Reserved <%=Date.today.year%>. ShopoMob Project.
</div>
</div>
</body>
</html>
